    <!-- Data //-->
    <div class="row top40" ng-controller="mainCtrl">
      <div class="col s12 m8 offset-l3">
        <div class="card hoverable">
            <div class="card-content center-align">
              {{date | date:'fullDate'}}
            </div>
          </div>
      </div>
    </div>

    <!-- Cartões //-->
    <!-- Quantidade de Anunciantes //-->
    <div class="row">
      <div class="col s12 m8 offset-l3">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Bem vindo, {{anunciante.nomeFantasia}}</span>
            <p>Você possui 0 chamados pendentes</p>
            <p>Para criar um novo chamado, acesse Meus Chamados na barra lateral.</p>
            <br>
            <p>Para entrar em contato com a assistência técnica, ligue para: 11 4238-9502</p>
          </div>
        </div>
      </div>
    </div>

