<div ng-controller="perfilCtrl">
      <div class="row top40">
        <div class="col s12 m8 offset-l3">
           <nav>
            <div class="grey darken-3 nav-wrapper">
              <div class="col s12 truncate">
                <a onClick="return false;" href="" class="breadcrumb"><i class="white-text small material-icons">settings</i>Gerenciar Perfil</a>
                <a href="" class="breadcrumb"></a>
                <a ng-bind="nome"></a>
              </div>
            </div>
         </nav>
        </div>
      </div>

      <!-- Dados do Anunciante //-->
    <div class="row top25">

      <form class="col s12 m8 offset-l3" method="POST" action="/ppppppp">

      <div class="row">
        <div class="input-field col s12">
          <input id="cnpj" type="text" class="validate" ng-model="cnpj" name="cnpj">
          <label class="active" for="cnpj">CNPJ</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s6">
            <input id="razaoSocial" type="text" class="validate"  ng-model="razaoSocial" name="razaoSocial">
            <label class="active" for="razaoSocial">Razão Social</label>
          </div>
          <div class="input-field col s6">
            <input id="nomeFantasia" type="text" class="validate" ng-model="nomeFantasia" name="nomeFantasia">
            <label class="active" for="nomeFantasia">Nome Fantasia</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="rua" type="text" class="validate" ng-model="rua" name="rua">
          <label class="active" for="rua">Rua</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s4">
            <input id="cidade" type="text" class="validate"  ng-model="cidade" name="cidade">
            <label class="active" for="cidade">Cidade</label>
          </div>
          <div class="input-field col s4">
            <input id="estado" type="text" class="validate"  ng-model="estado" name="estado">
            <label class="active" for="estado">Estado</label>
          </div>
          <div class="input-field col s4">
            <input id="cep" type="text" class="validate"  ng-model="cep" name="cep">
            <label class="active" for="cep">CEP</label>
          </div>
      </div>
        <div class="row">
        <div class="input-field col s6">
          <input id="email" type="text" class="validate"  ng-model="email" name="email">
          <label class="active" for="email">Email de Login</label>
        </div>
        <div class="input-field col s6">
          <select multiple>
              <option value="" disabled selected>Serviços Oferecidos</option>
              <option value="1">PetShop</option>
              <option value="2">Veterinário</option>
              <option value="3">Banho e Tosa</option>
              <option value="4">Adestrador</option>
              <option value="5">PetWalker</option>
              <option value="6">PetSitter</option>
            </select>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s6">
            <input id="site" type="text" class="validate"  ng-model="site" name="site">
            <label class="active" for="site">Site</label>
          </div>
          <div class="input-field col s6">
            <input id="social" type="text" class="validate"  ng-model="social" name="social">
            <label class="active" for="social">Rede Social</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s6">
            <input id="senha" type="text" class="validate"  name="senha">
            <label for="senha">Nova Senha</label>
          </div>
          <div class="input-field col s6">
            <input id="confSenha" type="text" class="validate" ng-model="confSenha">
            <label for="confSenha">Confirme a Senha</label>
          </div>
      </div>

      <div class="row valign-wrapper">
          <div class="col l12 s4 center-align">
            <button class="waves-effect waves-light btn grey darken-3" type="submit">Salvar</button>
          </div>
      </div>

      </form>
    </div>
  </div>
