*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background: #fff;

}

.card-panel {
  margin-top: 60px;
}

.btn:hover, .btn-large:hover {
    background-color: #f57c00;
}

.btn, .btn-large {
    background-color: #f57c00;
}

.form-login {
	margin: 30px;
}

.input-field input[type=text]:focus, .input-field input[type=password]:focus {
     border-bottom: 1px solid #f57c00;
     box-shadow: 0 1px 0 0 #f57c00;
}

.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
     color: #f57c00;
}

.btn:hover, .btn-large:hover {
    background-color: #fb8c00 ;
}

footer.page-footer {
    margin-top: 120px;
    padding-top: 20px;
}

